
/*----------------------------------------------------
  Quick Styling that Bootstrap doesn't take care of
 -----------------------------------------------------*/
body{
	font: 300 16px/22px "lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /*Use Google lato font*/
}

/*#story{
  padding-left: 5%;
  font-family: 'Lora', serif;
  border-top: 1px solid grey;
}

/*#introduction{
  padding-left: 5%;
  border-bottom: 1px solid #ccc;
}*/

/*Set the font weight and put a border on the heading*/
h1 {
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight: 200;
  text-align: center;
}
/*----------------------------------------------------
  Fancy checkboxes thanks to W3C:
  https://www.w3schools.com/howto/howto_css_switch.asp
 -----------------------------------------------------*/
 /* The switch - the box around the slider */
 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }

 /* Hide default HTML checkbox */
 .switch input {display:none;}

 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

 input:checked + .slider {
   background-color: #2196F3;
 }

 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }

 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }

 .slider.round:before {
   border-radius: 50%;
 }
