/**
 * @author Lewis Mckeown
 **/
/*----------------------------------------------------
  Quick Styling that Bootstrap doesn't take care of
 -----------------------------------------------------*/
body{
	font: 300 16px/22px "lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /*Use Google lato font*/
}

#story{
  border-bottom: 1px solid grey;
}

#introduction{
	border-bottom: 4px dashed #ccc;
	padding-bottom: 2%;
  /*border-bottom: 1px solid #ccc;*/
}

#feedbackForm{
  padding-bottom: 6%;
}
#page-footer{
	border-top: 4px dashed #ccc;
	padding-top: 2%;
}

/*Set the font weight and put a border on the heading*/
h1 {
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight: 200;
  text-align: center;
}

/*.story-comp{
	color: black;
	text-decoration: underline wavy blue !important;
	text-decoration-color: blue !important;
}*/

/*----------------------------------------------------
  Fancy checkboxes and loading spinners thanks to W3C:
  https://www.w3schools.com/howto/howto_css_switch.asp
	https://www.w3schools.com/howto/howto_css_loader.asp
 -----------------------------------------------------*/
 /* The switch - the box around the slider */
 .switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }

 /* Hide default HTML checkbox */
 .switch input {display:none;}

 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

 input:checked + .slider {
   background-color: #2196F3;
 }

 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }

 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }

 .slider.round:before {
   border-radius: 50%;
 }

 /*----------------------------------------------------
   Loader CSS thanks to W3C:
   https://www.w3schools.com/howto/howto_css_loader.asp
  -----------------------------------------------------*/
 .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
